<!--{% load staticfiles %}-->

<html>
    <head>
        <title>Chuchu</title>

    </head>
    <body>
        <div>
            <h1><a href=""> add post</a></h1>
            <h2><a href="/">CRM</a></h2>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
<!--{% url 'post_new' %}-->
</html>
